<h3>Update User</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="user.firstName" name="firstName">
    </div>

    <div class="form-group">
      <label for="name">Middle Name</label>
      <input type="text" class="form-control" id="middleName" required [(ngModel)]="user.middleName" name="middleName">
    </div>

    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="user.lastName" name="lastName">
    </div>

    <div class="form-group">
      <label for="name">EmailId</label>
      <input type="text" class="form-control" id="emailId" required [(ngModel)]="user.emailId" name="emailId">
    </div>
    <div class="form-group">
      <label for="name">PhoneNumber</label>
      <input type="text" class="form-control" id="phoneNumber" required [(ngModel)]="user.phoneNumber" name="phoneNumber">
    </div>
    <div class="form-group">
      <label for="name">Village</label>
      <input type="text" class="form-control" id="village" required [(ngModel)]="user.village" name="village">
    </div>
    <div class="form-group">
      <label for="name">Mandal</label>
      <input type="text" class="form-control" id="mandal" required [(ngModel)]="user.mandal" name="mandal">
    </div>
    <div class="form-group">
      <label for="name">Pincode</label>
      <input type="text" class="form-control" id="pincode" required [(ngModel)]="user.pincode" name="pincode">
    </div>
    <div class="form-group">
      <label for="name">Address</label>
      <input type="text" class="form-control" id="address" required [(ngModel)]="user.address" name="address">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
