vmb-enterprise-server/.classpath
vmb-enterprise-server/.factorypath
vmb-enterprise-server/.project
vmb-enterprise-server/.settings
vmb-enterprise-server/target
.metadata/
vmb-enterprise-client/.angular
