<h3>Add Transaction</h3>

<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Date</label>
      <input type="text" class="form-control" id="date" required [(ngModel)]="transaction.date" name="dateStr">
      <!-- add date picker-->
    </div>
    <div class="form-group">
      <label for="name">Customer Name</label>
      <input type="text" class="form-control" id="customerId" required [(ngModel)]="transaction.customer.id" name="customerId">
      <!-- <kendo-dropdownlist [data]="listItems" [textField]="'text'" [valueField]="'value'" [value]="selectedValue"></kendo-dropdownlist> 
      getAllCustomers() api for master data
      -->
    </div>
    <div class="form-group">
      <label for="name">Type</label>
      <input type="text" class="form-control" id="type" required [(ngModel)]="transaction.type" name="type">
     <!-- <kendo-dropdownlist [data]="listItems" [textField]="'text'" [valueField]="'value'" [value]="selectedValue">-->
    </div>

    
    <div class="form-group">
      <label for="name">Amount</label>
      <input type="text" class="form-control" id="amount" required [(ngModel)]="transaction.amount" name="amount">
    </div>
  
    <div class="form-group">
      <label for="name">Description</label>
      <input type="text" class="form-control" id="description" required [(ngModel)]="transaction.description" name="description">
      <!--  Better to use text area -->
    </div>
    
    <div class="form-group">
      <label for="name">Created By</label>
      <input type="text" class="form-control" id="createdBy" required [(ngModel)]="transaction.createdBy" name="createdBy">
      <!--  Dropdown with master data -->
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newUser()">Add</button> -->
</div>
